{% extends "base.html" %}

{% block title %}On-boarding stewek{% endblock %}
<head>{% load static %}
<link href="{% static 'style.css'%}" rel="stylesheet">

</head>
{% block content %}


<div class="container my-5">
    <h1>
        Witamy w wygodnej wyszukiwarce stewardess!
    </h1>
    <p>Wpisz numer ewidencyjny w polu niżej.</p>
    <form method="get" action="{% url 'search_results' %}">
    <input type="text" name="nr_ewidencyjny" placeholder="Nr ewidencyjny">
    <button type="submit">Wyszukaj!</button>

</form>

</div>

{% if results %}

<div class="container my-5">
    <table style = "width: 100%" border="3">
            {% for stewardesses in results %}
    <tr>
        <th>Nr_ewidencyjny</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Crewlink_id</th>
        <th>Hasło do Crewlink</th>
        <th>Hasło domenowe</th>
    </tr>
    <tr>
        <td>{{ stewardesses.nr_ewidencyjny }}</td>
        <td>{{ stewardesses.imie }}</td>
        <td>{{ stewardesses.nazwisko }}</td>
        <td>{{ stewardesses.crewlink_id }}</td>
        <td>{{ stewardesses.crewlink_password }}</td>
        <td>{{ stewardesses.LOT_password }}</td>
    </tr>
            {% endfor %}

</table>
</div>
</div>

{% else %}
<div class="container my-5">
    <p>Nie znaleziono wyników</p>
</div>

{% endif %}

{% endblock %}
{% block footer %}
<footer class="bg-dark text-white text-center py-3" style="position: absolute; bottom: 0px; width:100%">

            <div class="footer">
              <p style="color: white">&copy; 2023 All rights reserved</p>
            </div>
</footer>
{% endblock %}
